<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl plugin="credentials@2.1.16">
  <scope>GLOBAL</scope>
  <id>credential_id</id>
  <description></description>
  <username>{{git_username}}</username>
  <password>{{git_password}}</password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>